USE [VTech_DATABASE]
GO
/****** Object:  Table [dbo].[Filter]    Script Date: 26/09/2025 4:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filter](
	[FilterId] [char](10) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateAT] [datetime] NOT NULL,
	[FileName] [nvarchar](1000) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Form]    Script Date: 26/09/2025 4:19:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[FormId] [varchar](20) NOT NULL,
	[CreateAT] [datetime] NOT NULL,
	[Due] [datetime] NOT NULL,
	[Infor] [nvarchar](1000) NULL,
	[StudentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 26/09/2025 4:19:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Detail] [nvarchar](200) NULL,
	[CreateAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 26/09/2025 4:19:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Price] [decimal](6, 3) NOT NULL,
	[Due] [int] NOT NULL,
	[Detail] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 26/09/2025 4:19:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[CreateAT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 26/09/2025 4:19:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[BirthYear] [int] NOT NULL,
	[Ethnicity] [nvarchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[PermanentAddress] [nvarchar](200) NULL,
	[CurrentAddress] [nvarchar](200) NULL,
	[GPA_THPT] [decimal](4, 2) NULL,
	[IELTS] [nvarchar](20) NULL,
	[TOEIC] [nvarchar](20) NULL,
	[OtherCertificates] [nvarchar](255) NULL,
	[SelfIntroduction] [nvarchar](max) NULL,
	[FatherName] [nvarchar](100) NULL,
	[FatherBirthYear] [int] NULL,
	[FatherPhone] [varchar](15) NULL,
	[FatherOccupation] [nvarchar](100) NULL,
	[FatherCurrentAddress] [nvarchar](200) NULL,
	[MotherName] [nvarchar](100) NULL,
	[MotherBirthYear] [int] NULL,
	[MotherPhone] [varchar](15) NULL,
	[MotherOccupation] [nvarchar](100) NULL,
	[MotherCurrentAddress] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/09/2025 4:19:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[DOB] [datetime] NULL,
	[Email] [varchar](200) NOT NULL,
	[PassWord] [varchar](200) NULL,
	[Phone] [char](10) NULL,
	[CompanyName] [nvarchar](200) NULL,
	[CompanyAddress] [nvarchar](200) NULL,
	[CompanyCode] [varchar](3) NULL,
	[CreateAT] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[PackageId] [int] NULL,
	[FormId] [varchar](20) NULL,
	[FilterId] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Form]  WITH CHECK ADD  CONSTRAINT [FK_FORM_STUDENT] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Form] CHECK CONSTRAINT [FK_FORM_STUDENT]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Filter] FOREIGN KEY([FilterId])
REFERENCES [dbo].[Filter] ([FilterId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Filter]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Form] FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([FormId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Form]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([PackageId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Package]
GO
